<header class="site-header" data-header>
  <div class="shell header-inner">
    <a class="brand" href="{{@site.url}}" aria-label="BOMSociety home"><span class="brand-mark" aria-hidden="true">B</span><span class="brand-word">BOMSociety</span></a>
    <button class="menu-toggle" type="button" aria-label="Open navigation" aria-expanded="false" data-menu-toggle><span></span><span></span><span></span></button>
    <nav class="site-nav" aria-label="Primary" data-menu>
      <a href="{{@site.url}}/#decisions">Learn</a>
      <a href="{{@site.url}}/#bomgraph">BOMGraph</a>
      <a href="{{@site.url}}/topics/">Topics</a>
      <a href="{{@site.url}}/#intelligence">Intelligence</a>
      <a href="{{@site.url}}/conference/">Conference</a>
      <a href="{{@site.url}}/about/">About</a>
    </nav>
    <a class="button button-small nav-join" href="#/portal/signup">Join free</a>
  </div>
</header>