<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#071827">
  <meta name="bomsociety-theme-version" content="2.0.1">
  <meta name="bomsociety-deployment-marker" content="BOMSOCIETY-SPRINT-17B-CANONICAL">
  <meta name="bomsociety-commit" content="{{> build-commit}}">
  {{ghost_head}}
  {{#is "home"}}<link rel="canonical" href="https://www.bomsociety.com/">{{/is}}
  <link rel="stylesheet" href="{{asset "css/screen.css"}}">
  <link rel="stylesheet" href="{{asset "css/sprint17.css"}}">
  <link rel="stylesheet" href="{{asset "css/confidence-modal.css"}}">
</head>
<body class="{{body_class}}" data-page="{{#is "home"}}home{{else}}interior{{/is}}">
  <a class="skip-link" href="#main">Skip to content</a>
  {{> site-header}}
  <main id="main">{{{body}}}</main>
  {{> site-footer}}
  <script src="{{asset "js/analytics.js"}}"></script>
  <script src="{{asset "js/portal-guard.js"}}"></script>
  <script src="{{asset "js/main.js"}}"></script>
  <script src="{{asset "js/sprint17.js"}}"></script>
  {{ghost_foot}}
</body>
</html>
