{{!< default}}
{{#post}}<article class="article wrap"><header><p class="eyebrow">{{primary_tag.name}}</p><h1>{{title}}</h1><p>{{excerpt}}</p></header>{{#if feature_image}}<img src="{{img_url feature_image size="xl"}}" alt="{{title}}">{{/if}}<div class="gh-content">{{content}}</div></article>{{/post}}
